@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inconsolata:wght@300&family=Lobster&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(110, 110, 110, 0.3);
  margin: 15px;
  padding: 10px;
}

header {
  height: 270px;
  background-image: url(../multimedia/Montaña.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
header a {
  color: white;
}
header .navbar-toggler {
  color: black;
  border-color: black;
}
header .navbar-toggler .navbar-toggler-icon {
  background-image: url(../multimedia/menu.png);
}
header .btn-outline-success {
  color: white;
  border-color: white;
}
header .log {
  height: 180px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
header .icono {
  height: 200px;
  width: 20%;
  background-image: url(../multimedia/Jóvenes2.png);
  background-size: cover;
  background-position: top;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Inconsolata", monospace "Inconsolata", monospace;
  font-weight: bold;
  margin: 50px;
}

.Bienvenida {
  height: 200px;
  width: auto;
  margin: 10px;
}
.Bienvenida h3 {
  text-align: center;
  font-size: 26px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}
.Bienvenida p {
  padding: 20px;
  text-align: justify;
  font-size: 18px;
  font-family: "Inconsolata", monospace;
}

.conocenos {
  background-color: rgba(110, 110, 110, 0.3);
  border: 1px solid blue;
  border-radius: 5px;
  width: 90px;
  text-align: center;
  box-shadow: 2px 2px 5px black;
}
.conocenos a {
  text-decoration: none;
  color: blue;
  font-family: "Inconsolata", monospace;
}

.conocenos:hover {
  cursor: pointer;
  background-color: blue;
}
.conocenos:hover a {
  color: white;
}

.carousel-item img {
  height: 570px;
  width: 75%;
}

.carousel-caption {
  color: white;
}
.carousel-caption h5 {
  font-size: 26px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}
.carousel-caption p {
  font-size: 18px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}

.cena p {
  font-size: 18px;
  font-family: "Inconsolata", monospace;
  text-align: center;
}
.cena div {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  text-align: center;
  font-size: 26px;
}
.cena iframe {
  padding: 10px;
}

main {
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}
main .texto {
  margin: 20px;
  font-size: 20px;
  text-align: center;
  padding-top: 80px;
}
main img {
  padding: 5px;
}
main img:hover {
  transform: scale(0.9);
  transition: all 0.8s;
}
main p {
  margin: 20px;
  font-size: 17px;
  font-family: "Inconsolata", monospace;
  text-align: center;
}
main .galeria {
  height: 100%;
  width: auto;
}
main .img {
  height: 350px;
  border: 2px solid black;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}
main .img1 {
  background-image: url(../multimedia/Iglesia.jpg);
  background-position: center;
  background-size: cover;
}
main .img2 {
  background-image: url(../multimedia/Mar.jpg);
  background-position: center;
  background-size: cover;
}
main .img3 {
  background-image: url(../multimedia/Oveja.jpg);
  background-position: center;
  background-size: cover;
}
main .img4 {
  background-image: url(../multimedia/Calvario.jpg);
  background-position: center;
  background-size: cover;
}
main .img5 {
  background-image: url(../multimedia/Cruz.jpg);
  background-position: center;
  background-size: cover;
}
main .img6 {
  background-image: url(../multimedia/Siervo.jpg);
  background-position: center;
  background-size: cover;
}
main .img7 {
  background-image: url(../multimedia/Mar.jpg);
  background-position: center;
  background-size: cover;
}
main .img8 {
  background-image: url(../multimedia/Faro.jpg);
  background-position: center;
  background-size: cover;
}
main .img9 {
  background-image: url(../multimedia/Energia.jpg);
  background-position: center;
  background-size: cover;
}
main .img10 {
  background-image: url(../multimedia/Oveja.jpg);
  background-position: center;
  background-size: cover;
}
main .img11 {
  background-image: url(../multimedia/Iglesia.jpg);
  background-position: center;
  background-size: cover;
}
main .img12 {
  background-image: url(../multimedia/Cruz.jpg);
  background-position: center;
  background-size: cover;
}
main .img:hover {
  transform: scale(0.9);
  transition: all 0.8s;
}

.nos {
  text-align: center;
  padding: 20px;
}

.encabezado {
  text-align: center;
  font-size: 26px;
  margin: 25px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}

.quienes {
  height: auto;
  text-align: center;
  font-size: 26px;
  padding: 10px;
  font-family: "Inconsolata", monospace;
}
.quienes h3 {
  font-weight: bold;
}

.nosotros {
  height: auto;
  width: auto;
  text-align: center;
  margin: 15px;
}
.nosotros .texto1 p {
  padding: 15px;
  text-align: center;
  font-family: "Inconsolata", monospace;
}
.nosotros .texto1 h3 {
  margin: 10px;
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}
.nosotros .texto1 .fe {
  text-align: center;
  margin: 15px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}
.nosotros .texto2 p {
  padding: 15px;
  text-align: center;
  font-family: "Inconsolata", monospace;
}
.nosotros .imagen1 {
  height: auto;
  background-image: url(../multimedia/Cruz.jpg);
  background-size: cover;
  background-position: center;
}
.nosotros .imagen2 {
  height: auto;
  background-image: url(../multimedia/Iglesia.jpg);
  background-size: cover;
  background-position: center;
}
.nosotros .imagen3 {
  background-image: url(../multimedia/Biblia.jpg);
  background-position: center;
  background-size: cover;
}
.nosotros .imagen4 {
  background-image: url(../multimedia/Espiritu.jpg);
  background-position: center;
  background-size: cover;
}
.nosotros .imagen5 {
  background-image: url(../multimedia/Creyente.jpg);
  background-position: center;
  background-size: cover;
}

.especial p {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: 18px;
}
.especial .juntos {
  height: auto;
  width: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.especial .act1 {
  height: 300px;
  width: 50%;
  background-image: url(../multimedia/Deporte.jpg);
  background-size: cover;
  float: left;
}
.especial .act2 {
  height: 300px;
  width: 50%;
  background-image: url(../multimedia/Medico.jpg);
  background-size: cover;
  float: right;
}
.especial .act3 {
  height: 300px;
  width: 50%;
  background-image: url(../multimedia/Carcel.jpg);
  background-size: cover;
  float: right;
}
.especial .act4 {
  height: 300px;
  width: 50%;
  background-image: url(../multimedia/Niños.jpg);
  background-size: cover;
  float: left;
}
.especial .conferencia {
  height: auto;
  width: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.especial .aniversario {
  height: auto;
  width: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.form-control {
  width: 50%;
}

footer {
  height: 200px;
  width: 100%;
  background-image: url(../multimedia/Montaña.jpg);
  background-size: cover;
  background-attachment: fixed;
}
footer .footer {
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}
footer .icono2 {
  height: 90px;
  width: 20%;
  background-image: url(../multimedia/Jóvenes2.png);
  background-size: cover;
  background-position: center;
}
footer .redes {
  height: auto;
  width: 20%;
}
footer .redes i {
  color: black;
  font-size: 22px;
  letter-spacing: 5px;
  text-align: center;
  padding: 10px;
}
footer .copyright {
  height: auto;
  width: auto;
  background-color: gray;
  background-attachment: fixed;
  background-position: bottom;
  border-radius: 15px;
}
footer .copyright p {
  color: white;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 8px black;
}

@media (max-width: 991px) {
  header {
    height: 400px;
  }
  .icono {
    display: none;
  }
  .Bienvenida {
    height: auto;
    width: auto;
    margin: 10px;
  }
  .quienes {
    height: auto;
  }
  .texto1 {
    height: auto;
  }
  .texto2 {
    height: auto;
  }
  .carousel-item img {
    height: auto;
    width: 80%;
  }
  h1 {
    margin-top: 20px;
  }
  .cena {
    height: auto;
    width: auto;
  }
  iframe {
    height: 300px;
    width: 100%;
  }
  .inicio {
    margin-top: auto;
  }
  .form-control {
    width: 65%;
  }
}
@media (max-width: 575px) {
  .inicio {
    margin-top: 100px;
  }
  .carousel-item img {
    height: 250px;
    width: 80%;
  }
  iframe {
    height: 200px;
  }
  .form-control {
    width: 100%;
  }
}
@media only screen and (min-width: 991px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=estilos.css.map */
